<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tareasCurso.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49C6BD671CAB6A66009C12C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C6BD7B1CAB6A67009C12C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C6BD861CAB6A67009C12C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
